[submodule "lib/TimeUtils"]
	path = lib/TimeUtils
	url = https://gitlab.com/Casqade/timeutils
[submodule "lib/casqadium/thirdparty/ctpl"]
	path = lib/casqadium/thirdparty/ctpl
	url = https://github.com/vit-vit/ctpl
